.search {
    -webkit-appearance: none;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
}

.search:focus {
    outline: 3px solid #fbce07;
    -moz-outline-radius: 5px; 
}